<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 
    <title>Search for financial institution - Single Page Application | Woon Jeen</title>  
    <link href="product.css" rel="stylesheet"> 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>    
    <script src="jquery.js"></script>   
</head>
<body ng-app="products" ng-controller="ctrl"> 
    <div class="search"> 
        <h3>Run a Search for Financial Institutions</h3>
        <div class="search-div">
            <label for=search-query>Keywords </label> 
            <input type="text" id="search-query" name="query" placeholder="Please enter product name"></input>
            <div class="button-div">
                <button id="search-button" ng-click="submit()"> Search</button> 
                <button id="clear-button" ng-click="clear()"> Clear</button> 
            </div>
        </div>
        <div ng-show="hiddenError" id="error"> Please enter product name into the text input</div>  
    </div>  
    <div ng-show="hiddenTable" id="result">
        <h2 >{{searchResult.length}} Result<span ng-show="searchResult.length>1">s</span> Found</h2>

        <table border="1" align="center" ng-show="searchResult.length>1">
            <thead>
                <tr> 
                    <th> Product Name
                        <button ng-click="changeOrder('name')">Sort  <span class="sortorder" ng-show="order === 'name'" ng-class="{reverse: reverse}"></span></button> 
                        
                    </th>
                    <th> Product Type 
                        <button ng-click="changeOrder('type')">Sort  <span class="sortorder" ng-show="order === 'type'" ng-class="{reverse: reverse}"></span></button>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in searchResult|orderBy:order:reverse" >  
                    <td >
                        <a ng-href="{{result.link}}" target="_blank">
                            <span target="_blank" ng-bind-html="result.name"></span> 
                        </a>
                    </td>
                    <td ng-bind="result.type"></td> 
                </tr>  
            </tbody> 
        </table>  
         <button id="go-top-button">&nbsp;&nbsp;Go to Top</button> 
    </div>
<script>   
    $(window).scroll (function(){
      if($(this).scrollTop()>90) {
        $('#go-top-button').fadeIn(); }
      else{
        $('#go-top-button').fadeOut(); 
      }
    });

    var goToTop = document.getElementById("go-top-button");
    
    if(goToTop != undefined){
        goToTop.onclick = function(){  
            $('body').animate({scrollTop:0},600); 
        };
    } 

    angular.module('products', []) 
        .controller('ctrl', function($scope,$sce) {    
            $scope.reverse = true;
            $scope.changeOrder = function (order) {
                $scope.reverse =  !$scope.reverse ;
                $scope.order = order;
            };
            $scope.submit = function(){   
                var search = $("#search-query").val();
                if(search.length <1){  
                    $scope.hiddenError = true;
                    $scope.hiddenTable = false;
                    return;
                }        
                var products =[];  
                $.ajax({
                    url:"http://localhost:8000/Documents/interview/products.json", 
                    type: "GET",
                    dataType: "json", 
                    crossDomain: true,
                    success: function(data) {   
                        for (i in data.products){
                            products.push(data.products[i]); 
                         } 
                    }, 
                    error: function (xhr,status,error) { 
                      console.log(error,status,xhr);
                    },
                    complete: function (data) { 
                        $scope.searchResult = [];  
                        $scope.hiddenTable = true;
                        $scope.hiddenError = false;
                        $.each(products, function(i, v) {
                            var regex = new RegExp(search, "i");
                            if (v.name.search(regex) != -1) { 
                                var type = v.type.replace(/_/, " "); 
                                var name=v.name.replace(regex,  '<span class="highlight">$&</span>');  
                                name = $sce.trustAsHtml(name);
                                $scope.searchResult.push({ name: name, type: type, link: v.url }); 
                                $scope.$apply();
                                return;
                            }
                        });  
                    }
                })
            }   
            $scope.clear = function(){   
                $("#search-query").val("");
                $scope.hiddenTable = false;
            }    
        })    
</script>  
</body>
</html>
